body {
	background: linear-gradient(#0F2027,
		#203A43, #f64f59);
	color: #f7f7f7;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #19bee1;
}
.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
header {
	width: 100%;
	height: 50px;
	font-size: 40px;
	z-index: 5;
}
img{
	width: 50px;
	height: 50px;
}
tbody td {
	text-align: center;
	border-bottom: 0.5px solid white;
	height: 60px;
}
header div {
	margin: auto;
	margin-top: 80px;
	text-align: center;
	min-height: 65px;
}
#rankTable{
	z-index: 5;
	width: 70%;
	margin: auto;
	margin-top: 30px;
}
table th{
	width: 100px;
	height: 48px;
	border: 1px sold black;
	
}
table{
	border-collapse: collapse;
	margin: auto;
}
#songinfo{
	width: 400px;	
}
#tableHeader{
	border-bottom: 3px solid white;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 60vw;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}
.button {
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;
	flex: 1 1 auto;
	margin: 10px;
	padding: 20px;
	border: 2px solid #f7f7f7;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: .3s; &: after { position : absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	height: 3px;
	background: #f7f7f7;
	flex: 1 1 auto;
}

&
:nth-of-type(2):after {
	left: 0;
}

&
:nth-of-type(3):after {
	right: 0;
	left: auto;
}

&
:nth-of-type(4):after {
	left: 0;
	bottom: auto;
	top: -3px;
	width: 100%;
}

&
:nth-of-type(5):after {
	height: 120%;
	left: -10%;
	transform: skewX(15deg);
	z-index: -1;
}

&
:hover {
	cursor: pointer; &: after { width : 100%;
	left: 0;
}

&
:nth-of-type(4):after {
	top: calc(100% - 3px);
}

&
:nth-of-type(5) {
	color: #5bcaff;
}

&
:nth-of-type(5):after {
	left: -10%;
	width: 120%;
}

&
:nth-of-type(6) {
	flex-grow: 3;
}

&
:nth-of-type(6):after {
	width: 0%;
}

&
:nth-of-type(7) {
	border-radius: 30px;
}

&
:nth-of-type(7):after {
	width: 0%;
}

&
:nth-of-type(8) {
	transform: scale(1.2);
}

&
:nth-of-type(8):after {
	width: 0%;
}

&
:nth-of-type(9) {
	box-shadow: inset 0px 0px 0px 3px #f7f7f7;
}

&
:nth-of-type(9):after {
	width: 0%;
}

&
:nth-of-type(10) {
	box-shadow: 0px 0px 0px 3px #f7f7f7;
}

&
:nth-of-type(10):after {
	width: 0%;
}
}
}