@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{
	height:100%;
}
body {
	background: linear-gradient(#0F2027,
		#203A43, #f64f59);
	color: #f7f7f7;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-repeat:no-repeat;
	height:70%;
}
.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
img{
	width:20px;
	height: 20px;
	margin:auto;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}